<h3>Welcome {{ name }}</h3>
<h5>Here are your journal entries:</h5>

{{#if entries}}
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {{#each entries}}
        <tr>
            <td><a href="/entries/{{_id}}"></a>{{title}}</td>
            <td>{{formatDate createdAt 'MMMM Do, YYYY h:mm:ssa'}}</td>
            <td><span class="dash-status">{{status}}</span></td>
            <td></td>
        </tr>
        {{/each}}
    </tbody>
    </table>
{{else}}
<p>You have not created any journal entries yet!</p>
{{/if}}